@use "variables" as var;

@mixin highlights() {
    border: 1px solid var.$cyan;
}

@mixin header-shadow() {
    box-shadow: 0px 12px var.$cyan;
}

@mixin box-shadow() {
    box-shadow: 12px 12px var.$cyan;
}

@mixin button-style() {
    color: var.$blue;
    background-color: var.$yellow;
}