// load the basic styles, colors, mixins, and variables files
@use "scss/base";
@use "scss/colors" as c;
@use "scss/mixins" as m;
@use "scss/variables" as var;

// load the header file
@use "scss/header";


// MOBILE STYLING (media queries are applied mobile-first)

// styles for the main tag
main {
    margin: auto;
    max-width: var.$container-max-width;

    // styles for the section tag (movies)
    section {
        margin: var.$small-spacing 0; 
        @include c.highlights();

        // style the images
        img {
            width: 100%;
            height: auto;
            border: 1px solid var.$cyan; 
        }

        // style the movie content
        .content {
            padding: var.$small-spacing; 

            p {
                font-size: var.$movie-containers-size; 
                padding: 0 0 var.$small-spacing; 
                color: var.$blue; 
            }

            button {
                width: 100%;
            }
        }
    }
}

// TABLET STYLING: 720px breakpoint
@media (min-width: 720px) {
    
    // style the header
    header {
        @include c.header-shadow();

        // style the logo
        .logo {
            a {
                font-size: var.$header-size-tablet;
            }
        }

        // style the navigation links
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var.$large-tablet;
        }
    }

    // style the main tag (movies container)
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var.$large-tablet;
        padding: var.$large-tablet;

        // style the section tags (movies)
        section {
            display: flex;
            flex-direction: column;
            @include c.box-shadow();
            margin: 0;

            // style the movie contents
            .content{
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: space-between;
            }
        }
    }
}

// DESKTOP STYLING: 1024px breakpoint
@media (min-width: 1024px) {

    // header tag styling (logo and nav links)
    header {
        .logo {
            a {
                font-size: var.$header-size-desktop;
            }
        }
        
        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var.$large-desktop;
        }
    }
    
    // style the main tag, section tags
    main {
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: var.$large-desktop;
        padding: var.$large-desktop;

        section {
            width: 100%;

            .content {
                button {
                    width: 100%;
                    height: fit-content;
                }
            }
        }

        // style for the first and last movie boxes
        .first, .last {
            grid-column: 1 / 3;
        }

        // style the first movie box
        .first {
            .content {
                display: flex;
                flex-direction: row;
                height: fit-content;
                gap: var.$small-spacing;

                p {
                    padding: 0;
                }

                button {
                    height: 100%;
                }
            }

            .poster {
                height: 360px;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }

        // style the 2nd and 3rd movie boxes
        .side {
            .poster {
                height: 360px;

                img {
                    height: 100%;
                    object-fit: cover;
                } 
            }
        }

        // style the last movie box
        .last {
            display: flex;
            flex-direction: row;

            .content {
                width: 120%;
            }

            .poster {
                position: relative; 
                width: 100%; 

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                } 
            }
        }
    } 
}