* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    vertical-align: middle;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1em;
    margin: 2em;
}

@media (min-width: 720px) {
    main {
        margin: auto 0.5em;
    }

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 960px) {
    main {
        margin: auto 3em;
    }

    .grid-container {
        gap: 1.5em;
    }
}

@media (min-width: 1024px) {
    main {
        margin: auto 4em;
    }
}

@media (min-width: 1248px) {

    body {
        overflow-y: hidden;
    }
    
    main {
        margin: 1.5em 4em;
    }

    .grid-container {
        gap: 1.5em;
    }

    img {
        width: 72%;
    }
}