.feature-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    
    .card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 300px;
        padding: 20px;
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }       
        
        .card-icon {
            font-size: 3rem;
            color: #4DCCBD;
            margin-bottom: 15px;
        }
        
        .card-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .card-description {
            font-size: 1rem;
            color: #555;
            margin-bottom: 20px;
        }
        
        .card-button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            color: #fff;
            background-color: #4DCCBD;
            transition: background-color 0.3s;
            
            &:hover {
                background-color: #3aa59d;
            }
        }
    }
}